body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(45deg, #ff6b6b, #4caf50, #63a4ff, #ff6b6b);
    background-size: 400% 400%;
    animation: gradientAnimation 10s infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }

}

.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 60px; /* Increase padding for more space */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px; /* Increase width for a larger container */
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.login-container button {
    background-color: #4caf50;
    color: #fff;
    padding: 15px; /* Increase padding for a larger button */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        background-color: #4caf50;
    }
    50% {
        background-color: #ffeb3b;
        transform: scale(1.1);
    }
    100% {
        background-color: #4caf50;
    }
}

.register-link {
    margin-top: 30px; /* Increase margin for better spacing */
    font-size: 16px; /* Increase font size for better readability */
    color: #333;
}
