<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="../static/register.css">
</head>
<body>

<div class="registration-container">
    <h2>Register</h2>
    {% if message %}
        <p style="color:red">{{message}}</p>
    {% endif %}
    <form action="/perform_egistration" method="post">
        <label for="username">Name:</label>
        <input type="text" id="username" name="username" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <label for="confirm-password">Confirm Password:</label>
        <input type="password" id="confirm-password" name="confirm-password" required>

        <button type="submit">Register</button>
    </form>

    <div class="login-link">
        Already have an account? <a href="/">Login here</a>
    </div>
</div>

</body>
</html>
